body{display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
text-align: center;}

#answers{display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 15px;}

#nextBtn{margin-top: 25px;
        display: none;}

        